body{
    background-image: url(https://st.depositphotos.com/1092019/3987/i/450/depositphotos_39875745-stock-photo-spam-filter-on-red-keyboard.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
 }
 div{
   box-shadow: grey 9px 20px 20px;
   width: 300px;
   font-size: 50px;
     color: black;
     border-radius: 10px;
     padding: 10px 10px;
     margin: 20px auto;
     margin-top: 200px;
     text-align: center;
     background-color: whitesmoke;
 }